.nasa-pic{
    display: flex;
    padding: 40px;
    margin: 0 auto;
    max-height: 100% ;
}

.image {
    background-image :url('../assets/landing.jpg');
    background-size: cover;
    background-position: bottom;
    position: fixed;
    height: 100%;
}

.nasa-pic img{
    width: 50%;
    margin-right: 50px;
    object-fit: contain;
    max-height: 80vh;
}

.note{
    margin-top: 100px;
    font-size: x-small;
    font-style:italic;
    text-align: right;
}